<div style="background-color: #f8f8f8;">
  <div class="parent">
    <div class="child">

      <div nz-row class="imgDiv">
        <h2 style="text-align: center;">Update Ad</h2>
      </div>

      <form nz-form [formGroup]="validateForm" (ngSubmit)="updateAd()">
        <div nz-row class="file-upload-container">

          <!-- Label -->
          <label class="file-upload-label">
            <span style="margin-bottom: 10px; display: block;">Upload a File</span>

            <!-- Hidden file input -->
            <input
              #fileInput
              type="file"
              accept="image/png, image/jpeg"
              style="display: none"
              (change)="onFileSelected($event)"
            />

            <!-- Styled button that triggers file input -->
            <button nz-button nzType="primary" type="button" (click)="fileInput.click()">
              Choose Image
            </button>
          </label>



          <!-- Show existing image or preview -->
          <div class="image-preview" *ngIf="imagePreview || existingImage">
            <div class="circle-image">
              <img
                [src]="imagePreview ? imagePreview : existingImage"
                alt="Ad Image"
                class="preview-image"
              />
            </div>
          </div>
        </div>

        <div nz-col nzSpan="24" style="margin-top: 20px;">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Service name is required!">
              <input nz-input placeholder="Service Name" formControlName="serviceName" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Price is required!">
              <input nz-input placeholder="Price" formControlName="price" type="number" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Description is required!">
              <textarea
                rows="3"
                nz-input
                placeholder="Description"
                formControlName="description"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <button nz-button [nzType]="'primary'" class="login-form-button" style="width: 100%;">
          Update Ad
        </button>
      </form>

    </div>
  </div>
</div>




<!--<div style="background-color: #f8f8f8;">-->
<!--  <div class="parent">-->
<!--    <div class="child">-->

<!--      <div nz-row class="imgDiv">-->
<!--        <h2 style="margin-left: 230px;">Update Ad</h2>-->
<!--      </div>-->

<!--      <form nz-form [formGroup]="validateForm" (ngSubmit)="updateAd()">-->
<!--        <div nz-row>-->

<!--          <div class="file-upload-container">-->
<!--            <label class="file-upload-label">-->
<!--            <span style="margin-left: 100px">select a File</span>-->
<!--              <input type="file" nz-button nzType="primary" accept="image/x-png, image/gif, image/jpeg"-->
<!--              (change)="onFileSelected($event)">-->
<!--            </label>-->


<!--            <div *ngIf="imagePreview" class="image-preview">-->
<!--              <div class="circle-image">-->
<!--                <img [src]="imagePreview" alt="Image" class="preview-image"/>-->
<!--              </div>-->
<!--            </div>-->


<!--&lt;!&ndash;            <div *ngIf="imagePreview" class="image-preview" >&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="circle-image">&ndash;&gt;-->
<!--&lt;!&ndash;                <img [src]="imagePreview"   alt="Existing Image" class="preview-image"/>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div *ngIf="existingImage" class="image-preview" >&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="circle-image">&ndash;&gt;-->
<!--&lt;!&ndash;              <img [src]="imagePreview"  alt="Existing Image" class="preview-image"/>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->


<!--          </div>-->




<!--          &lt;!&ndash;          <div nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24" >&ndash;&gt;-->

<!--          &lt;!&ndash;            <div class="profile-badge">&ndash;&gt;-->
<!--          &lt;!&ndash;              <label for="upload_profile_image" class="upload_label" *ngIf="selectedFile">&ndash;&gt;-->
<!--          &lt;!&ndash;                <img class="profile" [src]="imagePreview" alt="profile">&ndash;&gt;-->
<!--          &lt;!&ndash;              </label>&ndash;&gt;-->
<!--          &lt;!&ndash;              <input type="file" nz-button nzType="primary"&ndash;&gt;-->
<!--          &lt;!&ndash;                     accept="image/x-png,image/gif,image/jpeg"&ndash;&gt;-->
<!--          &lt;!&ndash;                     id="upload_profile_image"&ndash;&gt;-->
<!--          &lt;!&ndash;              (change)="onFileSelected($event)" />&ndash;&gt;-->
<!--          &lt;!&ndash;              <button nz-button nzShape="circle"></button>&ndash;&gt;-->
<!--          &lt;!&ndash;            </div>&ndash;&gt;-->
<!--          &lt;!&ndash;          </div>&ndash;&gt;-->

<!--          <div nz-col nzSpan="24" style="margin-top: 20px;">-->
<!--            <nz-form-item>-->
<!--              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">-->
<!--                <input nz-input placeholder="Service Name" formControlName="serviceName">-->
<!--              </nz-form-control>-->
<!--            </nz-form-item>-->
<!--          </div>-->

<!--          <div nz-col nzSpan="24">-->
<!--            <nz-form-item>-->
<!--              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">-->
<!--                <input nz-input placeholder="Price" formControlName="price" type="number">-->
<!--              </nz-form-control>-->
<!--            </nz-form-item>-->
<!--          </div>-->

<!--          <div nz-col nzSpan="24">-->
<!--            <nz-form-item>-->
<!--              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">-->
<!--                <textarea rows="1" nz-input placeholder="Description" formControlName="description"></textarea>-->
<!--              </nz-form-control>-->
<!--            </nz-form-item>-->
<!--          </div>-->
<!--          -->

<!--        </div>-->

<!--        -->
<!--        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">-->
<!--          Update Ad-->
<!--        </button>-->

<!--      </form>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

