/*
Color Variables
*/
:root {
  --primary: #F48023;
  --secondary: #141a33;
  --white: #ffffff;
  --white-one: #fcfcfc;
  --text-gray: #808191;
  --bg-light: #fdfdfd;
}

/*
Header Styles
*/
.main-header, .main-header-admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 57px;
  background-color: var(--primary);
  height: auto;
}

.main-header-admin img.logo {
  width: 100px;
}

.main-header-admin .img_profile,
a.ant-btn .img_profile {
  width: 25px;
}

a.ant-btn img {
  width: 180px;
}

/*
Navigation Links
*/
a {
  font-weight: 300;
  font-size: 15px;
  border-radius: 0;
  color: var(--white);
}

a.active, .active-button {
  background-color: var(--secondary);
}

.active-button {
  border-radius: 0 !important;
  padding: 2px 5px !important;
}

a.ant-btn:hover {
  color: var(--white);
  background-color: var(--secondary);
}

/*
Mobile Styles
*/
@media only screen and (max-width: 768px) {
  .main-header .nav-links {
    display: none;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 15px 0;
  }
  
  .nav-links a {
    font-weight: 300;
    font-size: 16px;
    border-radius: 0;
    color: var(--white);
    width: 100%;
    text-align: left;
  }
  
  .nav-links a:hover {
    color: var(--white);
    background-color: var(--secondary);
  }
}

@media only screen and (min-width: 768px) {
  .mobile-sidenav {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .main-header .header-logo {
    display: none;
  }
  .sidebar-component-display {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .main-header .trigger {
    display: none;
  }
  .main-header .header-logo {
    width: 100px;
  }
}

/*
Sidebar Styles
*/
.mobile-sidenav.ant-layout-sider,
.mobile-sidebar {
  position: fixed;
  top: 0;
  background-color: var(--primary);
  height: 100vh;
  z-index: 999;
}

.sidebar-component {
  padding: 0 40px 0;
  background-color: var(--primary);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}

.sidebar-logo, .sidebar-logo-mobile {
  min-height: 64px;
  margin-left: 20px;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}

/*
Menu Styles
*/
.sidebar-component .ant-menu-inline,
.sidebar-component .ant-menu-vertical,
.sidebar-component .ant-menu-vertical-left {
  border-right: 0;
}

.sidebar-component .ant-menu {
  background: transparent;
}

.sidebar-component .ant-menu-item,
.sidebar-component .ant-menu-submenu {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: var(--text-gray);
  margin: 0;
  padding: 0 !important;
}

.sidebar-component .ant-menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebar-component .ant-menu-item:hover {
  color: var(--white);
}

.sidebar-component .ant-menu-item::after {
  display: none;
}

.sidebar-component .ant-menu-item.ant-menu-item-selected {
  color: var(--white);
  background-color: transparent;
}

.sidebar-component .ant-menu-item .anticon {
  min-width: 32px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-radius: 8px;
  background-color: rgba(225, 225, 225, 0.1);
}

/*
Layout Styles
*/
.ant-layout.ant-layout-has-sider {
  flex-direction: column;
}

.inner-content {
  background: var(--bg-light);
  min-height: calc(100vh - 0px);
}

.trigger {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

/*
Profile Styles
*/
.profile-avatar {
  text-align: center;
  border-bottom: 1px solid #34373c;
  margin-bottom: 30px;
}

.profile-avatar h3 {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-gray);
  margin: 19px 0 30px;
}

.user-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.user-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .user-profile {
    margin-top: 20px;
  }
}

.user-profile .ant-avatar {
  width: 39px;
  height: 39px;
  margin-right: 10px;
}

.user-profil-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-profil-action .profile-account-trigger a {
  font-weight: 600;
  font-size: 16px;
  color: #324160;
  display: flex;
  align-items: center;
}

.user-profil-action .profile-account-trigger a span {
  width: 100px;
  white-space: nowrap;
  overflow: hidden !important;
  display: block;
}

.user-account {
  display: flex;
  align-items: center;
}

/*
Global Overrides
*/
::ng-deep .ant-layout-sider-zero-width-trigger {
  background-color: var(--secondary);
  top: 80px;
}

::ng-deep .ant-dropdown-link {
  padding-left: 15px;
  padding-right: 15px;
}

::ng-deep .ant-menu-inline .ant-menu-item {
  padding: 0 !important;
}

::ng-deep .ant-menu-item:active,
::ng-deep .ant-menu-submenu-title:active,
::ng-deep .ant-menu-submenu > .ant-menu {
  background-color: transparent;
}

::ng-deep .ant-menu-light .ant-menu-item:hover {
  color: var(--white);
}

::ng-deep .sidebar-component .ant-menu-item-selected {
  color: var(--white);
  background-color: transparent;
}

::ng-deep .sidebar-component .ant-menu-item-selected:focus,
::ng-deep .sidebar-component .ant-menu-item-selected:visited,
::ng-deep .sidebar-component .ant-menu-item-selected:active {
  background-color: transparent;
}

::ng-deep .sidebar-component .ant-menu-item-selected .anticon {
  background-color: #ff7800;
}

::ng-deep .sidebar-component.ant-layout-sider-collapsed {
  padding: 20px 0;
}

::ng-deep .sidebar-component.ant-layout-sider-collapsed .ant-menu-item {
  padding: 0 19px !important;
}

::ng-deep .sidebar-component.ant-layout-sider-collapsed .ant-menu-item .anticon {
  margin: 0 auto !important;
}

::ng-deep .sidebar-component.ant-layout-sider-collapsed .sidebar-logo {
  background-size: 50%;
  background-position: center top -3px;
}

::ng-deep .inner-content .layout-header {
  background-color: var(--white);
  border-bottom: 1px solid #ebeff2;
  position: relative;
  min-height: 90px;
  height: initial;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  ::ng-deep .inner-content .layout-header {
    flex-direction: column;
    padding: 15px;
  }
}

::ng-deep .ant-menu-light .ant-menu-item-active,
::ng-deep .ant-menu-light .ant-menu-item:hover,
::ng-deep .ant-menu-light .ant-menu-submenu-active,
::ng-deep .ant-menu-light .ant-menu-submenu-title:hover,
::ng-deep .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: var(--white) !important;
}

::ng-deep .mobile-sidebar .ant-layout-sider-zero-width-trigger {
  background-color: var(--primary);
  border-radius: 0 5px 5px 0;
  opacity: 1;
}

@media only screen and (min-width: 992px) {
  .mobile-sidebar {
    display: none;
  }
}
